*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(173, 216, 230);
}

.nav{
    padding: 40px;
    flex-grow: 1;
    display: flex;
    width: 920px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(173, 216, 230);
    display: flow-root;
    
}

.barranav{

    display: flex;
    border: 1px solid red;
    background-color: rgb(218, 165, 32);
    display: flex;
    justify-content: space-between;
}

p{
    padding: 10px;
}
