*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(173, 216, 230);
}

.nav{
    display: flex;
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(173, 216, 230);
    display: flow-root;
    
}

.barranav{
    display: flex;
    background-color: rgb(218, 165, 32);
    justify-content: space-between;
}

p{
    padding: 10px;
}

.sezione{
    background-color: rgb(0, 0, 139);
    margin: 0 auto;
    padding: 40px;
    display: flex;
}

.intro{
    padding: 200px;
    padding-inline-start: 500px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(238, 130, 238);
}

.sezione2{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 40px;
    display: flex;
}


.contesto2{
    padding: 200px;
    padding-inline-start: 200px;
    display: flex;
    background-color: rgb(255, 192, 203);
}

.foto2{
    padding: 200px;
    padding-inline-start: 500px;
    display: flex;
    background-color: rgb(30, 144, 255);
    margin-left: 240px;
}

.sezione3{
    background-color: rgb(211, 211, 211);
    margin: 0 auto;
    padding: 40px;
    display: flex;
}


.contesto3{
    padding: 200px;
    padding-inline-start: 500px;
    display: flex;
    background-color: rgb(255, 192, 203);
}

.foto3{
    padding: 200px;
    padding-inline-start: 200px;
    display: flex;
    background-color: rgb(30, 144, 255);
    margin-left: 240px;
}

.fine{
    background-color: rgb(211, 211, 211);
    margin: 0 auto;
    padding: 40px;
    display: flex;
}

.aggiornamenti{
    padding: 500px;
    padding-inline-start: 600px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(34, 139, 34);
}

.sezione4 {
    background-color: rgb(35, 39, 42);
    margin: 0 auto;
    padding: 40px;
    display: flex;
}

.contatti{
    padding: 200px;
    padding-inline-start: 90px;
    display: flex;
    background-color: rgb(255, 192, 203);
    margin-left: 240px;
}

.lista{
    padding: 200px;
    padding-inline-start: 0px;
    display: flex;
    background-color: rgb(32, 178, 170);
    border: 1px solid white;
}
